/* Estilização do body */
body {
  width: 100%;
  color: black;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  justify-content: center;
  align-items: center;
}

/* Estilização do primeiro container onde ficará as informações pessoais */
.container {
  width: 90%;
  height: 25vh;
  margin: auto;
  overflow: auto;
  box-shadow: 0 0 5px rgb(0, 61, 153);
  text-align: center;
  position: relative;
  background-color: #4682b4;
  padding: 10px 1%;
  line-height: 50%;
}

/* Estilização da barra de rolagem para que fique "invisivel" */
.container::-webkit-scrollbar {
  width: 14px;
  border: 1px solid #4682b4;
}

.container::-webkit-scrollbar-thumb {
  background-color: #4682b4;
  border-radius: 6px;
}

/* Estilização do segundo container onde ficará as informações profissionais e academicas */
.container_2 {
  width: 95%;
  height: 25vh;
  margin: auto;
  overflow: auto;
  text-align: center;
  position: static;
  padding: 15px 2%;
  line-height: 45%;
}

/* Estilização da barra de rolagem para que fique "invisivel" */
.container_2::-webkit-scrollbar {
  width: 14px;
  border: 0px solid;
}

.container_2::-webkit-scrollbar-thumb {
  border-radius: 6px;
}

/* Estilização das informações pessoais */
.dados_pessoais {
  margin: auto;
  height: auto;
  overflow: auto;
  position: relative;
  padding: 0;
  text-align: center;
}

/* Estilização das bordas que separam os setores de informações */
.hr_border {
  border-style: solid;
  background-color: #4682b4;
  height: 1px;
  width: 98%;
  padding: 0;
}
/* Estilização das informações profissionais */
.dados_profissionais {
  margin-top: 10px;
  height: 5px;
  overflow: visible;
  padding: 0;
  text-align: center;
}
